
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Duku{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'adminlte/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'adminlte/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Duku</b> Admin</a>
  </div>

  {% block content %}
      
  {% endblock content %}
  
</div>

<script src="{% static 'adminlte/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>
<script src="{% static 'js/dukuajax.js' %}"></script>
<script src="{% static 'js/dukualert.js' %}"></script>
<script src="{% static 'js/message.js' %}"></script>
{% block js %}{% endblock js %}
</body>
</html>