{% extends 'cmdb/base.html' %}

{% block title %}
| GROUP
{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>GROUP</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">GROUP</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title" style="margin-top: 4px;">组信息</h3>
                  <button type="button" class="btn btn-primary float-right btn-sm" id="add">添加组</button>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>                  
                      <tr style="font-size: 14px;">
                        <th style="width: 10px">#</th>
                        <th>组名</th>
                        <th>组的用户</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                      {% for obj in paginator_data.object_list %}
                      <tr data-id="{{ obj.id }}" data-name="{{ obj.name }}">
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>
                          <button type="button" class="btn bg-gradient-info btn-xs show-btn">查看 ({{ obj.user_set.count }})</button>  
                        </td>
                        <td>
                            <button type="button" class="btn bg-gradient-warning btn-xs edit-btn">编辑</button>
                            <button type="button" class="btn bg-gradient-danger btn-xs delete-btn">删除</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-right">
                  {% if paginator_data.has_previous %}
                        <li class="page-item"><a class='page-link paginator' href='?page={{ paginator_data.previous_page_number }}&search={{search}}'>&laquo;</a></li>
                  {% endif %}

                  {% for page in paginator_data.paginator.page_range %}
                      {% if paginator_data.number == page %}
                          <li class="page-item"><a class="page-link paginator" id="currentpage">{{ page }}</a></li>
                      {% else %}
                          <li class="page-item"><a class='page-link paginator' href='?page={{ page }}&search={{search}}' title='{{ page }}'>{{ page }}</a></li>
                      {% endif %}
                  {% endfor %}

                  {% if paginator_data.has_next %}
                      <li class="page-item"><a class='page-link paginator' href='?page={{ paginator_data.next_page_number }}&search={{search}}'>&raquo;</a></li>
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    <section>
</div>
{% include 'account/group_modal.html' %}
{% endblock content %}
{% block js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock js %}