{% extends 'account/base.html' %}

{% block title %}
| Login    
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="../../index3.html" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" id="username" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name="remember" value="1">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block submit-btn-login">Sign In</button>
          </div>
        </div>
      </form>
      <p class="mb-0">
        <a href="{% url 'account:register' %}" class="text-center">Register a new membership</a>
      </p>
    </div>

  </div> 
{% endblock content %}

{% block js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock js %}
  
    
    