<div class="modal fade" id='modal_info'>
  <div class="modal-dialog">
    <div class="modal-content" style="top: 50%;margin-top: 50%;">
    	<div class="modal-header" style="background:#555edd; color:white;padding: 10px;border-top-left-radius: 0rem;border-top-right-radius: 0rem">
			<i class="fa fa-info-circle"></i>
            <span id="modal_info_title" style="font-weight:bold;font-size: 14px;">服务器提示</span>
        </div>
      <div id="modal_info_content" class="text" style="text-align:center; max-height:400px; margin-top:10px; margin-left:10px; margin-bottom:10px;font-size: 14px;">
      </div>
    <div class="modal-footer" style="display: table; width: auto;margin-left: auto; margin-right: auto;">
        <button id="modal_info_close" type="button" class="btn btn-primary bg-gradient-primary btn-sm" data-dismiss="modal">关闭</button>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id='modal_sql_info'>
  <div class="modal-dialog">
    <div class="modal-content" style="top: 50%;margin-top: 20%; margin-left: -60%; width: 1300px">
    	<div class="modal-header" style="background:#555edd; color:white;padding: 10px;border-top-left-radius: 0rem;border-top-right-radius: 0rem">
			<i class="fa fa-info-circle"></i>
            <span id="modal_sql_title" style="font-weight:bold;font-size: 14px;">详细信息</span>
        </div>
      <div id="modal_sql_content" class="text" style="text-align:center; max-height:1300px; margin-top:10px; margin-left:10px; margin-bottom:10px;font-size: 16px;">
      </div>
    <div class="modal-footer" style="display: table; width: auto;margin-left: auto; margin-right: auto;">
        <button id="modal_sql_close" type="button" class="btn btn-primary bg-gradient-primary btn-sm" data-dismiss="modal">关闭</button>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="error_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 500px; top: 50%;margin-top: 50%;">
      <div class="modal-header">
        <h4 class="modal-title" style="font-size: 16px;" id="error_id">错误信息</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="margin-top: 20px">
          <form class="form-horizontal" onsubmit="return false;">
              <div class="form-group" style="display: flex;font-size: 14px;">
                  <div class="col-sm-10">
                    <div class="form-group" id="error_content" style="margin-left: 20px">
                    </div>
                  </div>
              </div>
          </form>  
        </div>  
      </div> 
  </div>
  </div>
</div>  

<div class="modal fade" id="inforamtion_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 500px; top: 50%;margin-top: 50%;">
      <div class="modal-header">
        <h4 class="modal-title" style="font-size: 16px;" id="server_id">详细信息</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="margin-top: 20px">
          <form class="form-horizontal" onsubmit="return false;">
              <div class="form-group" style="display: flex;font-size: 14px;">
                  <div class="col-sm-10">
                    <div class="form-group" id="inforamtion_content" style="margin-left: 20px">
                    </div>
                  </div>
              </div>
          </form>  
        </div>  
      </div> 
  </div>
  </div>
</div>  